<div data-ng-controller="plugin-highmaps.controllers.stylerController">

	<!-- Map Type -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Map Type</div>
            <div class="type-holder">
                <div data-ng-repeat="type in mapTypes"
                     data-ng-class="{ selected: model.mapType == type.label }"
                     data-ng-click="setStyle('mapType',type.label)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: model.mapType == type.label }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{type.label}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Axis Scale     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Axis Scale</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.axisScale == 'linear' }" 
                     data-ng-click="setStyle('axisScale', 'linear')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisScale == 'linear' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Linear</div>
                </div>
                <div data-ng-class="{ selected: model.axisScale == 'logarithmic' }" 
                     data-ng-click="setStyle('axisScale', 'logarithmic')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisScale == 'logarithmic' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Logarithmic</div>
                </div>
            </div> 
        </div>
    </div>

    <!-- Axis Scale     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Axis Location</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.axisLocation == 'left' }" 
                     data-ng-click="setStyle('axisLocation', 'left')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisLocation == 'left' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Left</div>
                </div>
                <div data-ng-class="{ selected: model.axisLocation == 'right' }" 
                     data-ng-click="setStyle('axisLocation', 'right')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisLocation == 'right' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Right</div>
                </div>
                <div data-ng-class="{ selected: model.axisLocation == 'top' }" 
                     data-ng-click="setStyle('axisLocation', 'top')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisLocation == 'top' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Top</div>
                </div>
                <div data-ng-class="{ selected: model.axisLocation == 'bottom' }" 
                     data-ng-click="setStyle('axisLocation', 'bottom')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisLocation == 'bottom' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Bottom</div>
                </div>
            </div> 
        </div>
    </div>

    <!-- Border Color     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Border Color</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.borderColor == 'white' }" 
                     data-ng-click="setStyle('borderColor', 'white')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.borderColor == 'white' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">White</div>
                </div>
                <div data-ng-class="{ selected: model.borderColor == 'black' }" 
                     data-ng-click="setStyle('borderColor', 'black')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.borderColor == 'black' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Black</div>
                </div>
            </div> 
        </div>
    </div>

    <!--    Animation Speed Slider     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Animation Speed</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="0"
                                 data-max="2000"
                                 data-step="100"
                                 data-value="model.animationSpeed"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>
</div>